{% extends 'base.html' %}
{% block title %}Tarea 1{% endblock %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/detalle.css') }}">
{% endblock %}
{% block content %}
<header>
  <h1>Detalle de la actividad</h1>
</header>
<main>

  <div style="margin-top: 20px;">
    <a href="/" ><button  >Volver al inicio</button></a>
    <a href="/actividades" ><button >Volver al listado</button></a>
  </div>

  <section style="margin-top: 30px;">
    <ul>
      <li><strong>Inicio:</strong> {{ actividad[0] }}</li>
      <li><strong>Término:</strong> {{ actividad[1] }}</li>
      <li><strong>Comuna:</strong> {{ actividad[2] }}</li>
      <li><strong>Región:</strong> {{ actividad[3] }}</li>
      <li><strong>Sector:</strong> {{ actividad[4] }}</li>
      <li><strong>Tema:</strong> {{ actividad[5] }}
        {% if actividad[5] == 'otro' and actividad[6] %}
          ({{ actividad[6] }})
        {% endif %}
      </li>
      <li><strong>Organizador:</strong> {{ actividad[7] }}</li>
      <li><strong>Email:</strong> {{ actividad[8] }}</li>
      <li><strong>Contacto:</strong> {{ actividad[9] }}</li>
      <li><strong>Descripción:</strong><br> {{ actividad[10] }}</li>
      <li><strong>Foto:</strong><br>
        {% if actividad[11] %}
          <img src="{{ '/' + actividad[11] }}" width="300">
        {% else %}
          No se subió una foto
        {% endif %}
      </li>
    </ul>
  </section>



</main>

<footer>
  &copy; 2025 Punto Ticket
</footer>

{% endblock %}


