{% extends 'base.html' %}
{% block title %}Tarea 3{% endblock %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/detalle.css') }}">
{% endblock %}
{% block content %}
<header>
  <h1>Detalle de la actividad</h1>
</header>
<main>

  <div style="margin-top: 20px;">
    <a href="/" ><button>Volver al inicio</button></a>
    <a href="/actividades" ><button>Volver al listado</button></a>
  </div>

  <section style="margin-top: 30px;">
    <ul>
      <li><strong>Inicio:</strong> {{ actividad[0] }}</li>
      <li><strong>Término:</strong> {{ actividad[1] }}</li>
      <li><strong>Comuna:</strong> {{ actividad[2] }}</li>
      <li><strong>Región:</strong> {{ actividad[3] }}</li>
      <li><strong>Sector:</strong> {{ actividad[4] }}</li>
      <li><strong>Tema:</strong> {{ actividad[5] }}
        {% if actividad[5] == 'otro' and actividad[6] %}
          ({{ actividad[6] }})
        {% endif %}
      </li>
      <li><strong>Organizador:</strong> {{ actividad[7] }}</li>
      <li><strong>Email:</strong> {{ actividad[8] }}</li>
      <li><strong>Contacto:</strong> {{ actividad[9] }}: {{ actividad[10] }}</li>
      <li><strong>Descripción:</strong><br> {{ actividad[11] }}</li>
      <li><strong>Fotos:</strong><br>
        {% if fotos %}
          {% for foto in fotos %}
            <img src="{{ '/' + foto[0] }}" class="miniatura" width="300">
          {% endfor %}
        {% else %}
          No se subieron fotos
        {% endif %}
      </li>
    </ul>

    <hr>

    
    <hr>
    <h2>Comentarios</h2>

    <form id="form-comentario">
      <label>Nombre:</label><br>
      <input type="text" name="nombre" required minlength="3" maxlength="80"><br><br>

      <label>Comentario:</label><br>
      <textarea name="texto" rows="4" cols="50" required minlength="5"></textarea><br><br>

      <button type="submit"> Agregar comentario</button>
    </form>

    <div id="errores-comentario" style="color:red; margin-top: 10px;"></div>

    <h3>Listado de comentarios</h3>
    <ul id="lista-comentarios"></ul>


  </section>

  <div id="overlay" onclick="cerrarImagen()">
    <img id="imagenGrande" src="" alt="Foto ampliada">
  </div>

</main>

<footer>
  &copy; 2025 Punto Ticket
</footer>

{% endblock %}
{% block javascript %} 
<script>
  const actividadId = {{ actividad_id|tojson }};
</script>
<script src="{{ url_for('static', filename='js/detalle.js') }}"></script>
{% endblock %}
